<div class="error-page">
    <div class="error-content">
        <h1 class="error-title">404</h1>
        <p class="error-description">Page not found</p>
        <a href="<%= url_for('/') %>" class="error-home">
            <i class="fa-solid fa-home"></i> <%= __('nav.home') %>
        </a>
    </div>
</div> 