<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <div class="copyright">
            © <%= new Date().getFullYear() %> <i class="fa-solid fa-heart"></i> <%= config.author || 'xawei' %>
        </div>
        
        <div class="social-links">
            <a href="https://github.com/xawei" target="_blank" class="social-link" title="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</footer> 